{% extends "tmaps_app/base.html" %}

{% block app_content %}
  <h1>Welcome to the TMAPS App</h1>
  <p>TMAPS stands for Time Machine Automated Python Scripts. The app was developed in order to support the visualization of large transient watershed models. This is the beta version of the app, and the only currently supported model files are the ADHydro output. Stay tuned for additional model support!</p>
  <br>
  <p>This instance of the TMAPS App is setup to be used interactively to for the <b>Admin Users</b> to build Time Machines of ADHydro Output. ADHydro is a large-scale, high-resolution watshed simulation developed by the CI-WATER watershed modeling team. You can find out more information about the project <a href="http://www.uwyo.edu/cchh/adhydro.html">here</a></p>
  <br>
  <p>The <b>Non-Admin Users</b> of this demo app will be able to view already processed Time Machines of ADHydro output but will not be able to produce their own due to the resources accessed when running the tool.</p>
{% endblock %}


{% block app_actions %}
{% if user.is_superuser or user.is_staff %}
  <a href="{% url 'tmaps_app:load' %}" class="btn btn-default">New Project</a>
{% endif %}
{% endblock %}
