{% extends "tmaps_app/base.html" %}

{% load staticfiles tethys_gizmos %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li><a href="{% url 'tmaps_app:home' %}">Home</a></li>
  <li class="active"><a href="">Saved Projects</a></li>
  {% if user.is_superuser or user.is_staff %}
  <li><a href="">Jobs</a></li>
  <li class="title">New Project</li>
  <li><a href="{% url 'tmaps_app:load' %}">1. Load Files</a></li>
  <li><a href="{% url 'tmaps_app:preview' %}">2. Preview and Run</a></li>
  <li><a href="{% url 'tmaps_app:viewer' %}">3. View Results</a></li>
  {% endif %}
  <li class="separator"></li>
  <li><a href="">About TMAPS</a></li>
{% endblock %}

{% block app_content %}
  <div class="row">
    <div>
      <form id="parameter-select-form" method="post">
        {% gizmo "select_input" select_input5 %}
      </form>
    </div>


  </div>
<div  style="width: 1300px; height: 1000px">	  
   

  
            <div style="width: 100%; height: 1000px;">
            <iframe src="{% static 'tmaps_app/greenriversnoweq.timemachine/view.html' %}" width="100%" height="100%"></iframe>
            

            </div>

  
  
</div>   





{% endblock %}

{% block app_actions %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% gizmo_dependencies %}
{% endblock %}