{% extends "tmaps_app/base.html" %}

{% load staticfiles tethys_gizmos %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li><a href="{% url 'tmaps_app:home' %}">Home</a></li>
  <li><a href="{% url 'tmaps_app:library' %}">Shared Projects</a></li>
  <li class="active"><a href="">Make Your Own</a></li>
{% endblock %}

{% block app_content %}
<h1>Make Your Own Time Mchine</h1>
<div style="width: 850px; height: 70px">
<p>If your interest is in generating a Time Machine for ADHydro, you may download the
  <a href="https://github.com/CI-WATER/tmaps">TMAPS code</a>
from the <a href="https://github.com/CI-WATER">CI-WATER GitHub repository</a>. After following the prerequisites for installation
 in the Readme.md, users can modify the 'tmaps_adhydro.py' for the specific ADHYdro files being processed. The typical workflow for working
with the TMAPS code is presented below.</p>
  </div>
<br>

<img src="{% static 'tmaps_app/images/tmaps_adhydro.JPG' %}" style="width:700pxpx;height:200px;margin-left:5%">

<br>
<br>
<div style="width: 850px; height: 70px">
<p>The 'tmaps_adhydro.py' is developed for Python 2.7. It utlizes three modules developed for the three main processes
 presented in the above workflow. Using the three modules as show in the figure below, 'tmaps_adhydro.py' can generate
Time Machines that can be moved to the TMAPS Tethys app without much effort.</p>
  </div>

<img src="{% static 'tmaps_app/images/tmaps_modules.JPG' %}" style="width:600pxpx;height:250px;margin-left:15%">

<div style="width: 850px; height: 70px">
<p>To move the Time Machine generated to the <a href="https://github.com/CI-WATER/tmaps">TMAPS Tethys app</a>, follow the instructions included in the Readme.md in the
TMAPS Tethys app repository.</p>
  </div>

{% endblock %}

{% block app_actions %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% gizmo_dependencies %}
{% endblock %}